body {
background-color:#A4A875;
text-align:center;
margin: 0px 5px;
padding: 0px 5px;
}

#header {
height:40vh;
background: #332F3E;
border-radius: 5px;
margin:100px 0px;
}

	#header h1 {
	font: bold 80px Courier;
	margin-top: 0px;
	padding: 15vh;
	color:#60AA85;
	}

#main{
height:30vh;
vertical-align:middle;
}

#footer {
height:5vh;
background:#332F3E;
border-radius: 5px;
margin-top:10px;
clear:both;
}
	#footer h5{
		color:#60AA85;
		padding-top: 1.5vh;
		margin: 5px;
		font-family:Courier;
	}

#button {
background-color: #72C29B;
border: none;
color: #332F3E;
padding: 20px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 24px;
margin: 10px 7px;
width: 28vw;
cursor: pointer;
transition-duration: 0.4s;
border-radius: 20px;
}
	#button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: #60AA85;
	}

#tab {
display:inline-block; 
margin-left: 40px;
}


