body {
    background-color: #A4A875;
    text-align: center;
    margin: 0px 5px;
    padding: 0px 5px;
}

h1 {
    color: #332F3E;
}

h2 {
    color: #332F3E;
}

#h2_mobile {
    text-align: justify;
    margin:50px;
}
#h2_vic {
    text-align: justify;
    margin:15px;
}
#h2_juh {
    text-align: justify;
    margin:30px;
}
.h3_feedback {
    color:#332F3E;
    margin: 5px 60px;
}

#main {
    height: 30vh;
    vertical-align: middle;
}

#header {
    height: 15vh;
    background: #332F3E;
    border-radius: 5px;
    margin: 10px 0px;
}

#header h1 {
    font-size: 50px;
    margin-top: 0;
    padding: 5vh;
    color: #60AA85;
    font-family: Courier;
}

#header1 {
    height: 40vh;
    background: #332F3E;
    border-radius: 5px;
    margin: 100px 0px;
}

#header1 h1 {
    font: bold 80px Courier;
    margin-top: 0px;
    padding: 15vh;
    color: #60AA85;
}

.container {
    display: table-row;
    width: 100%;
}

.feedback{
    text-align: left;
}


.left {
    display: table-cell;
    width: 20vw;
    background: #DCDCDA;
    border-radius: 5px;
    vertical-align: top;
}

.middle {
    display: table-cell;
    width: 60vw;
    background: #DCDCDA;
    border-radius: 5px;
    margin: 5px;
}

.right {
    display: table-cell;
    width: 20vw;
    background: #DCDCDA;
    border-radius: 5px;
    vertical-align: top;
}

.leftmap {
    width: 60%;
}

.rightmap {
    width: 40%;
}

.map {
    border-radius: 10px;
    border: 3px solid #332F3E;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    margin: 15px 30px;
}

.wider {
    height: 70%;
}

.scroll {
    overflow-y: scroll;
    height: 70vh;
    display: inline-block;
    width: 16vw;
    background: white;
    border-radius: 3px;
    padding: 0px;
}

.scroll-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px 5px;

}

.scr2 {
    height: 10vh;
    margin: 0px 15px;
}

.scrl2 {
    padding: 0px;
}

.item, .item-selected {
    background-color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    min-width: 12vw;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 1px solid #72C29B;
    border-radius: 1px;
}

.item-selected {
    background-color: #60AA85;
}

.message {
    background-color: white;
    color: #332F3E;
    padding: 10px;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    font: italic 12px Tahoma;
    margin: 10px 10px;
    width: 75%;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 1px solid #72C29B;
    border-radius: 10px;
}

.photo, .photoC-selected {
    color: purple;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font: bold 14px Tahoma;
    margin: 10px 10px;
    height: 120px;
    width: 160px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 1px solid purple;
    border-radius: 10px;
}

.photoC-selected {
    background-image: url(pildid/pitsat.jpeg);
    border: 3px solid magenta;
    color: magenta;
}

.margin {
    margin: 5px;
}

.link{
    margin:30px;
    font: bold 25px Courier;
}

#footer {
    height: 5vh;
    background: #332F3E;
    border-radius: 5px;
    margin-top: 10px;
    clear: both;
}

#footer_h2 {
    font-size: 14px;
    color:  white;
    padding-top: 1.5vh;
    margin: 5px;
    font-family: Courier;

}

.button {
    background-color: #72C29B;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #60AA85;
}

.main {
    color: white;
    padding: 15px 40px;
    font-size: 14px;
    margin: 20px 10px 0px 10px;
    width: 10vw;
    border-radius: 3px;
}

.home {
    color: #332F3E;
    padding: 20px 20px;
    font-size: 24px;
    margin: 10px 7px;
    width: 28vw;
    border-radius: 20px;
}

.select {
    width: 100%;
    margin: 0px 10px 0px 30px;
    padding: 6vh 0vw;
    font: bold 18px Courier;
    border-radius: 20px;
}
.create, .create2, .create3{
    color: #332F3E;
    margin: 15px 10% 0px 0px;
    padding: 10px 0px;
    width: 30%;
    border-radius: 3px;
}
.create2 {
    margin:15px 0px 0px 0px;
    width: 31%;
}
.create3 {
    margin:15px 0px 0px 0px;
    width: 63%;
}
.mobile{
    width: 55%;
}

.feedb{
    margin: 10px 55px;
}
.pad{
    padding: 5vh 0vw;
}

.label {
    background-color: #72C29B;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px 10px 0px 10px;
    width: 16vw;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 3px;
    vertical-align: top;
}

.lMap {
    margin: 0px;
}
.lCreate {
    margin:15px 10% 0px 0px;
    padding: 10px 0px;
    width: 30%;
}


.tab {
    display: inline-block;
    margin-left: 40px;
}

.form {
    margin: 15px 0px 1px 10%;
    padding: 8px;
    border-radius: 3px;
    width: 30%;
}

.form2 {
    margin: 0px 0px 1px 10%;
    padding: 8px;
    border-radius: 3px;
    width: 50%;
}

.form3 {
    margin: 0px 0px 1px 10%;
    padding: 50px;
    border-radius: 3px;
    width: 50%;
}

table {
    margin: 30px;
    text-align: justify;
    background-color: white;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border: 2px solid #332F3E;
    width: 90%;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border: 1px solid #332F3E;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border: 1px solid #332F3E;
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border: 1px solid #332F3E
}

table > tr {
    vertical-align: middle;
    border: 1px solid #332F3E;
}

col {
    display: table-column;
    border: 1px solid #332F3E;
}

colgroup {
    display: table-column-group
}

tr {
    display: table-row;
    vertical-align: inherit;
    border: 1px solid #332F3E;

}

td, th {
    display: table-cell;
    vertical-align: inherit;
    font-size: 18pt;
    line-height: 1.5;
    border: 1px solid #332F3E;
    padding: 5px;
}

th {
    font-weight: bold
}

caption {
    display: table-caption;
}